version: "3.10"

services:
  etfbatch:
    image: etfbatch
    container_name: batch_etfbatch
    ports:
      - "7777:7777"
    environment:
      - DOCKER_ENV=true
      - OCI_CONFIG_FILE=/root/.oci/config
      - EXCEL_DIR=/home/rocky/excel
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ~/.oci:/root/.oci:ro
      - /home/rocky/excel:/home/rocky/excel
